.body {
    font-family: "Tahoma", sans-serif;
    font-style: normal;
    font-weight: 400;  
    margin: 0; 
}

.top {
    background-color: #343B42;
    background-image: url(../img/girl.jpg);
    background-position: right top;
    background-repeat: no-repeat;
}

.container {
    width: 1040px;
    margin: 0 auto;
    padding-top: 33px;
    padding-bottom: 50px;
}

.nav {
    margin-top: 50px;
}

.nav a {
    margin-right: 40px;
    text-decoration: none;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
}

.nav a:hover {
    color: orange;
}

.btn-1 {
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    background: #62D0DF;
    text-transform: uppercase;
    border: none;
    padding: 17px 55px;
    margin-top: 47px;
}

.btn-1:hover, .btn-2:hover {
    background-color: red;
}

.section-top {
    margin-top: 64px;
}

.section-top h2 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 48px;
    line-height: 110%;
    color: #FFFFFF;
    width: 505px;
    margin: 0;
}

.section-top p {
    font-size: 24px;
    line-height: 140%;
    color: #D6D6D6;
    width: 505px;
    margin-top: 31px;
    margin-bottom: 0;
}

.btn-2 {
    font-family: "Tahoma", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    background: #F9B640;
    text-transform: uppercase;
    border: none;
    margin-top: 50px;
    padding: 13px 52px;
}

.about-div {
    margin-top: 31px;
}

.about {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1em;
    color: #FAB63E;
    text-decoration: none;
    text-transform: uppercase;
}

/* -------------- main ------------ */

.main-up {
    background-color: #E5E5E5;
}

.section-up {
    width: 1040px;
    margin: 0 auto;
    padding-bottom: 102px;
}

.section-up h2 {
    font-weight: 700;
    font-size: 48px;
    line-height: 110%;
    color: #000000;
    text-transform: uppercase; 
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 64px;
}

.section-up div {
    background-color: #C4C4C4;
    margin-top: 45px;
}

.section-up p {
    font-size: 24px;
    line-height: 140%;
    color: #0B0B0B;
    margin: 0;
}

.p-1 {
    padding: 44px 40px 31px 40px;
}

.p-2 {
    padding: 0 41px 31px 39px;
}

.p-3 {
    padding: 0 41px 40px 39px;
}

.main-down {
    background-image: url(../img/fruit.jpg);
    background-position: top center;
    background-repeat: no-repeat;
}

.section-down {
    width: 1040px;
    margin: 0 auto;
}

.section-down h2 {
    font-weight: 700;
    font-size: 48px;
    line-height: 110%;
    color: #720E0E;
    text-transform: uppercase; 
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 65px;
}

.section-down div {
    margin-top: 63px;

}

.section-down p {
    font-size: 24px;
    line-height: 140%;
    color: #FFFFFF;
    margin: 0;
}

.p-4 {
    padding-bottom: 31px;
}

.p-5 {
    padding-bottom: 31px;
}

.p-6 {
    padding-bottom: 184px;
}

